<!DOCTYPE html>
<html>
<head>
{% if template == "index" %}
  <title>{{ shop.name  }}</title>
{% elsif template contains "404" %}
  <title>Page Not Found</title>
{% else %}
  <title>{{ shop.name }}  &mdash;  {{ page_title | escape }}</title>
{% endif %}  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" >
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" >
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape}}" >
  {% elsif template contains 'collection' and collection.metafields.global.description_tag != '' %}
  <meta name="description" content="{{ collection.metafields.global.description_tag  | strip_html | strip_newlines | truncate: maxmeta | escape}}">
  {% endif %}
  <!-- TODO template the site verification string -->
  <meta name="google-site-verification" content="EpfeWwtVElUo_uESz-lSJN0B89D38gp5KfOQ3Yz0mTs" >
  <link rel="canonical" href="{{ canonical_url }}">
{% include 'head' %}
  
  <!-- Shopify boilerplate gobbeldygook -->
  
  {{ content_for_header }}
  
  <!-- End Shopify boilerplate gobbeldygook -->
  
</head>
  
{% if collection.title.size > 0 %}
<body id="products-page">
{% elsif product.handle.size > 0 %}
<body id="products-page">
{% elsif page.handle.size > 0 %}
<body id="{{ page.handle }}-page">
{% else %}
<body id="{{ page_title | handle }}-page">
{% endif %}

{% if page_title == "Home" %}
  <a id="splash" href="">
    <div>
      <div class="title">Rennes</div>
      <div class="address">
      </div>
    </div>
  </a>
{% endif %}

  
    <header>
      {% if settings.sale_banner_enabled and collection.title.size > 0 %}{% if settings.sale_banner_everywhere or collection.handle == "sale" %}
      <div id="sale-banner">{{ settings.sale_banner_text }}</div>
      {% endif %}{% endif %}
      <a id="cart-summary" href="/cart" title="View Cart">
	  {% if cart.item_count > 0 %}
	  {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items'}} in Bag
      {% else %}
      My Bag
	  {% endif %}
      </a>
	  <a id="home-link" href="/collections/new">
        rennes
        <!--
		  <img src="{{ settings.header_image | asset_url }}" alt="rennes">
-->
	  </a>
    </header>

  {% include 'nav' %}
  
    <main>
    {% if errors != blank %}
      <div id="error" class="error">
        <ul>
          {% for error in errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      </div>
    {% endif %}

    {{ content_for_layout }}
    </main>

</body>
</html>
