<article itemscope itemtype="http://schema.org/Product">
  <div id="product-images">
    <a id="product-image"><img src="{{ product.images.first | product_img_url: settings.product_thumbnail_size }}" alt="{{ product.featured_image.alt }}" itemprop="image"></a>
    <div id="images-nav">
      <ul id="images-list">
        {% for image in product.images %}
        <li><a href="{{ image | product_img_url: settings.product_thumbnail_size }}"><img id="image-{{image.id}}" src="{{ image | product_img_url: settings.product_thumbnail_size }}" alt="{{ image.alt | escape }}"></a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div id="product-details">
    <h1 itemprop="name">{{ product.title | escape }}</h1>
    <div itemprop="description">
      {{ product.description }}
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span itemprop="price">{{ product.price | money_without_trailing_zeros }}</span>
        {% if product.compare_at_price_min > product.price %}<del>{{ product.compare_at_price_min | money_without_trailing_zeros }}</del> {% endif %}
      </div>
    </div>
{% if product.tags contains 'Coming Soon' %}
    <span class="unavailable">Coming Soon</span>
{% elsif product.available %}
    <form action="/cart/add" method="post">
{% if product.variants.size > 1 %}
      <div id="product-variants">{% for variant in product.variants %}
        <input type="radio" {% unless variant.available %} disabled="true" {% endunless %} name="id" id="{{variant.id}}" value="{{variant.id}}"><label for="{{variant.id}}">{{variant.title}}</label>{% endfor %}
      </div>
{% else %}
      <input type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}">
{% endif %}
      <button id="product-addtocart" type="submit" name="add" value="Add to Shopping Cart">Add to bag</button>
    </form>
{% else %}
    <span id="soldout" class="unavailable">Sold Out</span>
{% endif %}
{% assign col_handles = product.collections | map: 'handle' %}{% if col_handles contains "sale" %}
    <p>
      All sale items are final sale and cannot be returned or exchanged.
      Please feel free to email us with any fit questions at info@rennes.us and
      we will be happy to help with sizing.
    </p>
{% endif %}
  </div>
</article>
